USE [master]
GO
/****** Object:  Database [TPF2019]    Script Date: 25/11/2019 14:56:34 ******/
CREATE DATABASE [TPF2019]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPF2019', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPF2019.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPF2019_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPF2019_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPF2019].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPF2019]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/11/2019 14:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[color] [varchar](20) NOT NULL,
	[talle] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK__Producto__FF341C0D8F813BCC] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_producto], [nombre], [marca], [color], [talle], [stock], [precio], [borrado]) VALUES (1, N'PRUEBA44', N'ADIDAS', N'ROJO', 23, 5, 5000, 0)
INSERT [dbo].[Productos] ([id_producto], [nombre], [marca], [color], [talle], [stock], [precio], [borrado]) VALUES (2, N'FASTMODEL', N'ADIDAS', N'NEGRO', 49, 0, 8500, 0)
INSERT [dbo].[Productos] ([id_producto], [nombre], [marca], [color], [talle], [stock], [precio], [borrado]) VALUES (3, N'FASTER', N'NIKE', N'ROJO', 32, 4, 3000, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__72AFBCC69073BDFF]    Script Date: 25/11/2019 14:56:34 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ__Producto__72AFBCC69073BDFF] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProducto]    Script Date: 25/11/2019 14:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarProducto]

@id_producto int, @nombre varchar(50), @marca varchar(50), @color varchar(20), @talle float, @stock int, @precio float

AS

IF EXISTS (SELECT id_producto, nombre FROM Productos WHERE id_producto=@id_producto OR nombre=@nombre)
	UPDATE Productos SET nombre=@nombre, marca=@marca, color=@color, talle=@talle, stock=@stock, precio=@precio, borrado=0 WHERE id_producto=@id_producto OR nombre=@nombre
ELSE
	INSERT INTO Productos (nombre, marca, color, talle, stock, precio, borrado) VALUES (@nombre, @marca, @color, @talle, @stock, @precio, 0)

/*
IF NOT EXISTS (SELECT nombre FROM Productos WHERE nombre=@nombre)
	INSERT INTO Productos (nombre, marca, color, talle, stock, precio, borrado) VALUES (@nombre, @marca, @color, @talle, @stock, @precio, 0)
ELSE
	UPDATE Productos SET nombre=@nombre, marca=@marca, color=@color, talle=@talle, stock=@stock, precio=@precio, borrado=0 WHERE nombre=@nombre
	*/
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 25/11/2019 14:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProducto]

@nombre varchar(50)

AS 

-- Realizo un borrado logico
IF EXISTS (SELECT nombre FROM Productos WHERE nombre=@nombre)
	UPDATE Productos SET borrado=1 WHERE nombre=@nombre

-- Si realmente quisiera borrar un producto escribiria
-- DELETE FROM Productos WHERE nombre=@nombre
GO
USE [master]
GO
